body {
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
}

/*nav{
  width: 100%;
  height: auto;
  background-color: lightgoldenrodyellow;
  color: darksalmon;
  border: 3px 3px 3px 3px;
  border-color: black;
  padding-top: 2px;
  margin-top: 0px;
 


}*/

.navbar .in .nav li {
  display: block;
  float: none;
  width:100%;
}

.heading{
  background-color:lightgray;
  margin-bottom: 0px;
}
/*Responsive menu starts*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:580px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:580px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*Responsive menu Ends*/


.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
  top:0;
  width: 100%;
  
}
.w3-panel{
 margin-bottom: 0px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

#myself{
  align-content: center;
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 1px lightblue;
  padding: 3px;
  background: white;
  
}
.content{
  align-content: center;
  border-radius: 15px 50px;
  background: lightgrey;
  padding: 20px; 
  margin: 2px 2px 2px 2px;
 
  
}

#sid1{

  
  
}

section{
padding: 10px;
  
}

.content-head:hover {
 
 background-color: aliceblue;
 border-bottom-style: solid;
  border-color: silver;
  
}

/*#sid_head{
margin-top: 5px;
height: 250px;
width: auto;
}*/
